include MANIFEST.in
include COPYING
include pyproject.toml
include pygrib.pyx
include redtoreg.pyx
include setup.py
include .travis.yml
include test.py
include README.md
include utils/*grib*
recursive-include docs *
include sampledata/*.grb
include sampledata/*.grb2
include sampledata/*.grib*
include sampledata/*.bin
include test/README
include test/*py
include test/*baseline*png
include man/*.1
