name: Build and Test Linux/Windows/MacOSX

on:
  pull_request:
  push:
    branches: [master]

jobs:
  run:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        #python-version: ["3.8", "3.9", "3.10", "3.11", "3.12"]
        #os: [ubuntu-latest, windows-latest, macos-12]
        python-version: ["3.11"]
        os: [windows-latest]
    steps:
    - uses: actions/checkout@v4

    - name: Setup Conda
      uses: s-weigand/setup-conda@v1
      with:
        activate-conda: false
        conda-channels: conda-forge

    - name: Python ${{ matrix.python-version }}
      shell: bash -l {0}
      run: |
        conda create --name TEST python=${{ matrix.python-version }} numpy cython pip pytest wheel pyproj eccodes --strict-channel-priority
        source activate TEST
        pip install -e . --no-deps --force-reinstall
        conda info --all
        conda list

    - name: Tests
      shell: bash -l {0}
      run: |
        source activate TEST
        #if [ "windows-latest" == "${{ matrix.os }}" ]; then 
        #   export ECCODES_DEFINITION_PATH=$CONDA_PREFIX/Library/share/eccodes/definitions
        #fi
        cd test
        python test.py
        pytest -vv -s test_latlons.py
